In [9]:
import pandas as pd

dict_1 = [{'row 1' : 'A',
         'row 2' : 'Nan',
         'row 3': 'A'}]
dict_2 = [{'row 1' : 'Nan',
         'row 2' : 'A',
         'row 3': 'A'}]

In [10]:
pd.DataFrame(dict_1)
pd.DataFrame(dict_2)

  row 1 row 2 row 3
0   Nan     A     A

In [14]:
dict_1.values()

AttributeError: 'list' object has no attribute 'values'

In [ ]:
# Replace all As with 1s and all NaN with 
def a_replacement(dataframe):
    for row in dataframe:
        if