In [35]:
# import libraries
import pandas as pd
import hvplot.pandas as hv
import numpy as np
import seaborn as sn
from pathlib import Path
import re

In [36]:
# read dataframes
kcg_df = pd.read_csv(Path('./kcg.csv'))
kc_df = pd.read_csv(Path('./kc.csv'))

In [37]:
# review dataframes
kcg_df.head(10)

,field,KCG,ADM,MOUSE,KCG.1,ADM.1,MOUSE.1,KCG.2,ADM.2,MOUSE.2,...,KCG.14,ADM.14,MOUSE.14,KCG.15,ADM.15,MOUSE.15,KCG.16,ADM.16,MOUSE.16,Unnamed: 52
0,1,0.0,NaN,1,0.0,NaN,2,0.0,NaN,3,...,0.0,NaN,15,0.0,NaN,16,0.0,NaN,17,NaN
1,2,0.0,NaN,1,0.0,NaN,2,0.0,NaN,3,...,0.0,NaN,15,1.0,A,16,0.0,NaN,17,NaN
2,3,0.0,NaN,1,1.0,NaN,2,0.0,NaN,3,...,0.0,NaN,15,0.0,NaN,16,0.0,NaN,17,NaN
3,4,1.0,NaN,1,0.0,NaN,2,0.0,NaN,3,...,0.0,NaN,15,0.0,NaN,16,0.0,NaN,17,NaN
4,5,0.0,NaN,1,1.0,NaN,2,0.0,NaN,3,...,0.0,NaN,15,0.0,NaN,16,0.0,NaN,17,NaN
5,6,0.0,NaN,1,0.0,NaN,2,0.0,NaN,3,...,0.0,NaN,15,0.0,NaN,16,0.0,NaN,17,NaN
6,7,0.0,NaN,1,0.0,NaN,2,0.0,NaN,3,...,0.0,NaN,15,0.0,NaN,16,0.0,NaN,17,NaN
7,8,0.0,NaN,1,0.0,NaN,2,0.0,NaN,3,...,0.0,NaN,15,0.0,NaN,16,1.0,NaN,17,NaN
8,9,1.0,NaN,1,0.0,NaN,2,1.0,NaN,3,...,0.0,NaN,15,0.0,NaN,16,0.0,NaN,17,NaN
9,10,0.0,NaN,1,0.0,NaN,2,0.0,NaN,3,...,1.0,NaN,15,0.0,NaN,16,0.0,NaN,17,NaN

In [38]:
# review dataframes
kc_df.tail(10)

,field,KC,ADM,MOUSE,KC.1,ADM.1,MOUSE.1,KC.2,ADM.2,MOUSE.2,...,KC.9,ADM.9,MOUSE.9,KC.10,ADM.10,MOUSE.10,KC.11,ADM.11,MOUSE.11,Unnamed: 37
23,24,1.0,NaN,1,0.0,NaN,2,0.0,NaN,3,...,NaN,NaN,10,1.0,A,11,NaN,NaN,12,NaN
24,25,0.0,NaN,1,0.0,NaN,2,0.0,NaN,3,...,NaN,NaN,10,0.0,NaN,11,NaN,NaN,12,NaN
25,26,0.0,NaN,1,0.0,NaN,2,0.0,NaN,3,...,NaN,NaN,10,1.0,NaN,11,NaN,NaN,12,NaN
26,27,0.0,NaN,1,0.0,NaN,2,NaN,NaN,3,...,NaN,NaN,10,0.0,NaN,11,NaN,NaN,12,NaN
27,28,NaN,NaN,1,0.0,NaN,2,NaN,NaN,3,...,NaN,NaN,10,0.0,NaN,11,NaN,NaN,12,NaN
28,29,NaN,NaN,1,0.0,NaN,2,NaN,NaN,3,...,NaN,NaN,10,1.0,NaN,11,NaN,NaN,12,NaN
29,30,NaN,NaN,1,NaN,NaN,2,NaN,NaN,3,...,NaN,NaN,10,NaN,NaN,11,NaN,NaN,12,NaN
30,31,NaN,NaN,1,NaN,NaN,2,NaN,NaN,3,...,NaN,NaN,10,NaN,NaN,11,NaN,NaN,12,NaN
31,32,NaN,NaN,1,NaN,NaN,2,NaN,NaN,3,...,NaN,NaN,10,NaN,NaN,11,NaN,NaN,12,NaN
32,33,NaN,NaN,1,NaN,NaN,2,NaN,NaN,3,...,NaN,NaN,10,NaN,NaN,11,NaN,NaN,12,NaN

In [39]:
# take out all added .s
kcg_df.columns = [re.sub("(.*?)(\.\d+)", "\\1", c) for c in kcg_df.columns]
kc_df.columns = [re.sub("(.*?)(\.\d+)", "\\1", c) for c in kc_df.columns]

In [40]:
# drop unnamed columns
kcg_df = kcg_df.drop(columns=["Unnamed: 52"])
kc_df = kc_df.drop(columns=["Unnamed: 37"])
display(kcg_df.head())
display(kc_df.head())

,field,KCG,ADM,MOUSE,KCG,ADM,MOUSE,KCG,ADM,MOUSE,...,MOUSE,KCG,ADM,MOUSE,KCG,ADM,MOUSE,KCG,ADM,MOUSE
0,1,0.0,NaN,1,0.0,NaN,2,0.0,NaN,3,...,14,0.0,NaN,15,0.0,NaN,16,0.0,NaN,17
1,2,0.0,NaN,1,0.0,NaN,2,0.0,NaN,3,...,14,0.0,NaN,15,1.0,A,16,0.0,NaN,17
2,3,0.0,NaN,1,1.0,NaN,2,0.0,NaN,3,...,14,0.0,NaN,15,0.0,NaN,16,0.0,NaN,17
3,4,1.0,NaN,1,0.0,NaN,2,0.0,NaN,3,...,14,0.0,NaN,15,0.0,NaN,16,0.0,NaN,17
4,5,0.0,NaN,1,1.0,NaN,2,0.0,NaN,3,...,14,0.0,NaN,15,0.0,NaN,16,0.0,NaN,17

,field,KC,ADM,MOUSE,KC,ADM,MOUSE,KC,ADM,MOUSE,...,MOUSE,KC,ADM,MOUSE,KC,ADM,MOUSE,KC,ADM,MOUSE
0,1,2.0,A,1,0.0,NaN,2,2.0,A,3,...,9,0.0,NaN,10,0.0,NaN,11,0.0,NaN,12
1,2,2.0,A,1,0.0,NaN,2,0.0,NaN,3,...,9,0.0,NaN,10,0.0,NaN,11,1.0,A,12
2,3,1.0,A,1,0.0,NaN,2,0.0,NaN,3,...,9,1.0,NaN,10,0.0,NaN,11,2.0,A,12
3,4,1.0,NaN,1,0.0,NaN,2,0.0,NaN,3,...,9,1.0,NaN,10,0.0,NaN,11,0.0,NaN,12
4,5,3.0,A,1,3.0,NaN,2,0.0,NaN,3,...,9,0.0,NaN,10,2.0,NaN,11,0.0,NaN,12

In [42]:
# fill adm columns with 0 for NA
kcg_df['ADM'] = kcg_df['ADM'].fillna(0)
kcg_df.tail()

,field,KCG,ADM,MOUSE,KCG,ADM,MOUSE,KCG,ADM,MOUSE,...,MOUSE,KCG,ADM,MOUSE,KCG,ADM,MOUSE,KCG,ADM,MOUSE
28,29,NaN,0.0,1,NaN,0.0,2,NaN,0.0,3,...,14,NaN,0.0,15,NaN,0,16,0.0,0.0,17
29,30,NaN,0.0,1,NaN,0.0,2,NaN,0.0,3,...,14,NaN,0.0,15,NaN,0,16,NaN,0.0,17
30,31,NaN,0.0,1,NaN,0.0,2,NaN,0.0,3,...,14,NaN,0.0,15,NaN,0,16,NaN,0.0,17
31,32,NaN,0.0,1,NaN,0.0,2,NaN,0.0,3,...,14,NaN,0.0,15,NaN,0,16,NaN,0.0,17
32,33,NaN,0.0,1,NaN,0.0,2,NaN,0.0,3,...,14,NaN,0.0,15,NaN,0,16,NaN,0.0,17

In [63]:
kcg_df = kcg_df.reset_index('field')
kcg_df

,field,KCG,ADM,MOUSE,KCG,ADM,MOUSE,KCG,ADM,MOUSE,...,MOUSE,KCG,ADM,MOUSE,KCG,ADM,MOUSE,KCG,ADM,MOUSE
0,1,0.0,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,0.0,0.0,17
1,2,0.0,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,0.0,0.0,15,1.0,A,16,0.0,0.0,17
2,3,0.0,0.0,1,1.0,0.0,2,0.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,0.0,0.0,17
3,4,1.0,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,0.0,0.0,17
4,5,0.0,0.0,1,1.0,0.0,2,0.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,0.0,0.0,17
5,6,0.0,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,0.0,0.0,17
6,7,0.0,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,0.0,0.0,17
7,8,0.0,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,1.0,0.0,17
8,9,1.0,0.0,1,0.0,0.0,2,1.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,0.0,0.0,17
9,10,0.0,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,1.0,0.0,15,0.0,0,16,0.0,0.0,17
10,11,0.0,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,1.0,0.0,15,1.0,0,16,0.0,0.0,17
11,12,0.0,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,0.0,0.0,17
12,13,0.0,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,0.0,0.0,17
13,14,0.0,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,0.0,0.0,17
14,15,1.0,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,0.0,0.0,17
15,16,0.0,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,0.0,0.0,17
16,17,0.0,0.0,1,0.0,0.0,2,1.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,0.0,0.0,17
17,18,0.0,0.0,1,1.0,0.0,2,0.0,0.0,3,...,14,0.0,0.0,15,0.0,0,16,0.0,0.0,17
18,19,NaN,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,NaN,0.0,15,0.0,0,16,0.0,0.0,17
19,20,NaN,0.0,1,1.0,0.0,2,0.0,0.0,3,...,14,NaN,0.0,15,1.0,A,16,0.0,0.0,17
20,21,NaN,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,NaN,0.0,15,0.0,0,16,0.0,0.0,17
21,22,NaN,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,NaN,0.0,15,NaN,0,16,0.0,0.0,17
22,23,NaN,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,NaN,0.0,15,NaN,0,16,0.0,0.0,17
23,24,NaN,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,NaN,0.0,15,NaN,0,16,0.0,0.0,17
24,25,NaN,0.0,1,0.0,0.0,2,0.0,0.0,3,...,14,NaN,0.0,15,NaN,0,16,0.0,0.0,17
25,26,NaN,0.0,1,NaN,0.0,2,0.0,0.0,3,...,14,NaN,0.0,15,NaN,0,16,0.0,0.0,17
26,27,NaN,0.0,1,NaN,0.0,2,0.0,0.0,3,...,14,NaN,0.0,15,NaN,0,16,0.0,0.0,17
27,28,NaN,0.0,1,NaN,0.0,2,1.0,0.0,3,...,14,NaN,0.0,15,NaN,0,16,0.0,0.0,17
28,29,NaN,0.0,1,NaN,0.0,2,NaN,0.0,3,...,14,NaN,0.0,15,NaN,0,16,0.0,0.0,17
29,30,NaN,0.0,1,NaN,0.0,2,NaN,0.0,3,...,14,NaN,0.0,15,NaN,0,16,NaN,0.0,17
30,31,NaN,0.0,1,NaN,0.0,2,NaN,0.0,3,...,14,NaN,0.0,15,NaN,0,16,NaN,0.0,17
31,32,NaN,0.0,1,NaN,0.0,2,NaN,0.0,3,...,14,NaN,0.0,15,NaN,0,16,NaN,0.0,17
32,33,NaN,0.0,1,NaN,0.0,2,NaN,0.0,3,...,14,NaN,0.0,15,NaN,0,16,NaN,0.0,17

In [65]:
pivot_kcg = kcg_df.pivot(columns='field')

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [48]:
stacked_kcg_df

0   field      1
    KCG      0.0
    ADM      0.0
    MOUSE      1
    KCG      0.0
            ...
32  MOUSE     15
    ADM        0
    MOUSE     16
    ADM      0.0
    MOUSE     17
Length: 1528, dtype: object